@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    padding-inline: 100px;
}

body {
    background-color: #282828;
    background-image: url('../../public/bg.svg');
    color: #ffffff;
    font-size: 16px;
}

main {
    padding-inline: 100px;
}

@media (max-width: 768px) {
    body {
        margin-inline: 40px;
    }
}
